// vars
@bg-color: #CCD1DC;
@bg-blue-color: #2886FB;
@bg-think-color: #E3E7EF;
@bg-drak-color: #A2AABA;
@bg-black-color: #1E222E;

#app {
	background-color: @bg-color;
	padding: 35px 12px;
}

.circle-container {
	background-color: white;
	border-radius: 30px 30px 0 0;
	padding: 60px 0 0 0;

	// top start
	.circle-container-top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 40px;
		
		img:nth-child(1) {
			width: 60px;
			height: 60px;
		}
		img:nth-child(2) {
			width: 80px;
			height: 80px;
		}
	}
	// top end

	// banner start
	.circle-container-banner {
		padding: 50px 40px 10px 40px;
		.circle-container-banner-top {
			h1 {
				font-size: 65px;
				font-weight: bold;
			}
			.circle-container-banner-sub {
				display: flex;
				align-items: center;
				padding: 20px 0 20px 0;
				h1 {
					font-size: 32px;
					color: @bg-drak-color;
				}
				.circle-container-banner-icon {
					padding: 2px 0 0 8px;
					font-size: 32px;
					letter-spacing: -2px;
					color: #565558;
					font-weight: bold;
				}
			}
		}
		.circle-container-banner-ul {
			display: flex;
			padding-bottom: 30px;
			li {
				padding: 20px 0px;
				margin-right: 30px;
				a {
					font-size: 28px;
					color: #9094A9;
				}
				.circle-container-banner-sp {
					color: #646468;
					border-bottom: solid 4px #1B5BAF;
					padding-bottom: 10px;
				}
			}
		}
		.circle-container-banner-box {
			padding: 60px 0 0 0;
			font-size: 25px;
			position: relative;
			height: 610px;

			.circle-container-banner-box-container {
				box-shadow: 2px 2px 5px @bg-drak-color;
			}
			
			.circle-container-banner-box-search {
				color: white;
				width: 200px;
				height: 200px;
				background-color: @bg-black-color;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 100px;
				position: absolute;
				top: 60px;
				left: calc((100% - 200px) / 2);
			}
			.circle-container-banner-box-direct {
				color: white;
				width: 260px;
				height: 260px;
				background-color: @bg-drak-color;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 200px;
				position: absolute;
				top: 280px;
				left: calc((100% - 260px) / 2 - 120px);
			}
			.circle-container-banner-box-social {
				color: white;
				width: 140px;
				height: 140px;
				background-color: @bg-blue-color;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 100px;
				position: absolute;
				top: 220px;
				left: calc((100% - 140px) / 2 + 180px);
			}
			.circle-container-banner-box-other {
				color: white;
				width: 100px;
				height: 100px;
				font-weight: bold;
				background-color: #E3E7EF;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 100px;
				color: #565558;
				position: relative;
				font-size: 20px;
				top: 320px;
				left: calc((100% - 100px) / 2 + 120px);
			}
		}
		.circle-container-banner-price {
			padding-top: 40px;
			border-top: solid 1px #F3F3F7;
			margin-top: 30px;

			h1 {
				font-size: 18px;
				color: #B5BAC7;
				padding-bottom: 10px;
			}
			h2 {
				font-size: 55px;
				font-weight: bold;
				color: #454853;
			}
			.circle-container-banner-ul {
				padding: 35px 30px 10px 0px;
				width: 100%;
				ul {
					width: 100%;
					border-top: solid 1px #F3F3F7;
					border-bottom: solid 1px #F3F3F7;
					:active {
						background-color: @bg-drak-color;
					}

					li {
						width: 100%;
						border-bottom: solid 1px #F3F3F7;
						padding: 40px 0;

						a {
							.circle-container-banner-item-top {
								color: #BBBDCB;
								font-weight: normal;
								font-size: 20px;
								padding-bottom: 7px;
							}
							.circle-container-banner-item-bottom {
								font-size: 25px;
								color: #6E7078;
							}
						}
					}
					li:last-child {
						border-bottom: 0px;
					}
				}
			}
		}

		.circle-container-banner-button {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-top: 60px;
			padding-bottom: 30px;
			:active {
				background-color: @bg-drak-color;
			}

			button {
				background-color: #F3F3F7;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 24px 48px;
				border-radius: 10px;
				font-weight: bold;
				color: #373A46;
				img {
					padding-left: 30px;
				}
			}
		}
	}
	// banner end

	// list start
	.circle-container-list-sep {
		width: 100%;
		height: 80px;
		background-color: @bg-color;
	}
	.circle-container-list {
		.circle-container-list-top {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 60px 0 65px 0;
			border-bottom: solid 1px #F3F3F7;
			
			.circle-container-list-top-circle {
				padding: 25px 26px;
				border-radius: 100px;
				border: solid 3px #504C4C;
				display: flex;
				justify-content: center;
				align-items: center;
			}

			h1 {
				font-size: 28px;
				color: #646468;
				font-weight: bold;
				padding-top: 60px;
			}

			p {
				color: #CDD2DD;
				font-size: 22px;
				max-width: 280px;
				text-align: center;
				padding-top: 20px;
			}
		}

		.circle-container-list-sub {
			padding: 65px 0 0px 0;

			h1 {
				font-size: 48px;
				font-weight: bold;
				padding-left: 50px;
			}
			p {
				padding-left: 50px;
				padding-right: 50px;
				padding-top: 20px;
				font-size: 27px;
				color: #8C94AA;
				span {
					color: #1C5CB0;
					font-weight: bold;
				}
			}

			ul {
				padding-top: 100px;
				padding-bottom: 30px;
				border-bottom: solid 1px #F3F3F7;

				li {
					margin-bottom: 80px;
					a {
						display: flex;
						align-items: flex-start;
						justify-content: space-between;
						padding: 0 0 0 40px;

						.circle-container-list-sub-item {
							padding-left: 15px;
							h1 {
								padding: 0 0 10px 0;
								font-size: 10px;
								color: #878BA5;
							}
							
							.circle-container-list-sub-item-dot {
								display: flex;
								justify-content: flex-start;
								align-items: center;

								h2 {
									padding-right: 5px;
								}
								.circle-container-list-sub-item-point {
									width: 14px;
									height: 14px;
									background-color: #0449A7;
									border-radius: 30px;
								}
							}

							p {
								padding: 5px 3px 0 0;
								font-size: 24px;
								color: #848589;
								line-height: 30px;
							}
						}

						.circle-container-list-sub-time {
							font-size: 10px;
							color: #ADB5B8;
							min-width: 70px;
							display: flex;
							justify-content: flex-end;
							padding-right: 20px;
							min-width: 180px;
						}

						.circle-container-list-sub-avata {
							padding: 15px 20px;
							background-color: #E78665;
							font-size: 26px;
							color: white;
							border-radius: 60px;
							display: flex;
							align-items: center;
							justify-content: center;
						}

						.circle-container-list-sub-item-fix {
							padding-left: 20px;
						}
					}
				}
			}
		}
	}
	// list end

	// bottom start
	.circle-container-bottom {
		font-size: 18px;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 80px;
	}
	// bottom end
}