html,
body {
	width: 100%;
	height: 100%;
	font-family: '微软雅黑', Tahoma, Helvetica, Arial, '\5b8b\4f53', sans-serif;
	margin: 0 auto !important;
	position: relative;
	-moz-font-feature-settings: 'kern';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-overflow-scrolling: touch;
}

.debug * {
	outline: 1px solid gold;
}
.debug-grid {
	background: transparent url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAFElEQVR4AWPAC97/9x0eCsAEPgwAVLshdpENIxcAAAAASUVORK5CYII= ) repeat top left;
}

* {
	box-sizing: border-box;
}

[class*='btn'],
button,
.pointer {
	cursor: pointer;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
}

picture {
	display: block;
}

blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
lengend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	word-wrap: break-word;
	word-break: break-all;
	-webkit-appearance: none;
}

.picture-placeholder {
	background-color: #f4f4f4 !important;
	background-image: url('https://img.qlchat.com/qlLive/activity/image/1QPQETLW-S5T5-M5NO-1572936980377-N346VMOSWPCB.png') !important;
}

/* 解决ios下不垂直居中的问题 */
input::-webkit-input-placeholder {
	line-height: normal;
}

input {
	caret-color: #ff9800;
}

input[type='search']::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

.app-wrap {
	max-width: 1080px; /*px*/
	min-width: 640px; /*px*/
	position: relative;
	height: 100%;
	margin: 0 auto !important;
}

#app {
	height: 100%;
	overflow-x: hidden;
	background: #fff;
	-webkit-overflow-scrolling: touch;
}

.elli-text {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
}
/*  单行超出省略 */
.elli {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
}

.hidden {
	display: none !important;
}

.clearfix {
	overflow: auto;
}

.bold {
	font-weight: bold;
}

.center {
	text-align: center;
}

/* 页面区域 */
.page-container {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
}

/* 内容滚动区域 */
.scroll-content-container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding-bottom: 100px;
	-webkit-overflow-scrolling: touch;
}

/* 常用的文字大小与颜色组合样式 */
.font-36 {
	font-size: 36px; /*px*/
	color: #333;
}

.font-24 {
	font-size: 24px; /*px*/
	color: #333;
}

.font-22 {
	font-size: 22px; /*px*/
	color: #999;
}

.font-20 {
	font-size: 20px; /*px*/
	color: #999;
}

.font-30 {
	font-size: 30px; /*px*/
	color: #333;
}

.font-28 {
	font-size: 28px; /*px*/
	color: #666;
}

.font-32 {
	font-size: 32px; /*px*/
	color: #333;
}

.font-34 {
	font-size: 34px; /*px*/
	color: #333;
}

/* 按钮样式 */
.primary-button {
	display: block;
	width: 400px;
	height: 88px;
	border-radius: 44px;
	line-height: 88px;
	text-align: center;
	font-size: 32px; /*px*/
	font-weight: bold;
	color: #333;
	background-color: #fee110;
}

.disabled-button {
	color: #666;
	background-color: #dbdbdb;
	cursor: default;
}

/* 标签Tag */
.tag {
	height: 32px;
	line-height: 32px;
	padding: 0 16px;
	background-color: #fff6b7;
	font-size: 20px; /*px*/
	color: #333;
	border-radius: 16px;
}

/* 提示信息 */
.message-prompt {
	padding: 15px;
	background-color: #fff6b7;
	color: #333;
	font-size: 20px; /*px*/
	line-height: 1.5;
	text-align: center;
	border-radius: 20px;
}

/* 未读通知：红点 */
.red-spot {
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #e91c1c;
}

/* tooltip */
.tooltip {
	position: relative;
	height: 50px;
	line-height: 50px;
	padding: 0 20px;
	border-radius: 25px;
	background-color: #333;
	font-size: 24px; /*px*/
	color: #fee110;
	white-space: nowrap;
}
.tooltip::after {
	content: '';
	display: block;
	width: 24px;
	height: 24px;
	background-color: #333;
	border-radius: 7px;
	position: absolute;
	left: 50%;
	transform-origin: 50% 50%;
	transform: translateX(-50%) rotate(45deg);
	top: -10px;
	z-index: -1;
}

/* 图片上传样式 */
.thumbnail {
	width: 142px;
	height: 142px;
	position: relative;
	border-radius: 20px;
	margin-bottom: 30px;
}

.thumbnail img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.thumbnail .remove-image-button {
	border: 2px solid #fff; /*px*/
	position: absolute;
	top: 5px;
	right: 5px;
}

.placeholder-thumbnail {
	content: '';
	display: block;
	width: 142px;
	height: 0;
}
.ql-cell__ft {
	display: inline-block;
	margin-left: 12px;
	height: 16px;
	width: 16px;
	border-width: 5px 5px 0 0;
	border-color: #b3b3b3;
	border-style: solid;
	-webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
	transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
	margin-top: 0px;
	border-radius: 4px;
}
.common-btn {
	padding: 24px 0;
	text-align: center;
	background: #ff9800;
	color: #fff;
	font-size: 32px; /*px*/
	font-weight: bold;
	border-radius: 200px;
	width: 70%;
	margin: 0 auto;
	letter-spacing: 2px;
}

/* 字体 */
.bold {
	font-weight: bold;
}

/* 光标 */
.pointer {
	cursor: pointer;
}
/* 文字标记 */
.hxy-mark {
	display: table-cell;
	line-height: 40px;
}

.hxy-mark::before {
	content: '';
	vertical-align: middle;
	display: inline-block;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 8px;
	color: #fff;
	font-size: 26px;
	background-color: #ff5151;
	margin-right: 12px;
}

.hxy-mark.coupon::before {
	content: '券';
}
@keyframes recordScale {
	0% {
		transform: scale(0.92, 0.92);
	}
	50% {
		transform: scale(1.1, 1.1);
	}
	100% {
		transform: scale(0.92, 0.92);
	}
}
