// right
.cards-fashion-show-right {
	width: calc(100% - 220px);
	padding: 30px 40px 15px 40px;

	// copy rights
	.cards-fashion-show-copyrights {
		margin-top: 35px;
		padding-top: 15px;
		text-align: center;
		border-top: solid 1px #dedede;
		font-size: 12px;
	}
}